/*==========================menu nav mobile==============================*/
@media screen and (max-width: 768px){
body {
	font-size: 1.4rem;
    width: 100%;
    min-width: auto;
}
.sp-only {
    display: block !important;
}
.pc-only{
	display: none !important ;
}
.container {
    width: 100%;
    margin: 0 auto;
}
/*=================header========================*/
header {
    margin-top: 0;
    padding: 10px 16px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
/*===============menu top ===========================*/
#nav-toggle span {
    background-image: url(../image/sp/menu-bar.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
}
#nav-toggle.is-open span {
    background-image: url(../image/sp/close-menu.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
}
.l-navhea{
	position: absolute;
    width: 100%;
    left: 0;
    background: #4471c6de;
    margin-top: 10px;
        z-index: 1;
	ul{
		display: inherit;
	    width: 100%;
	    left: 0;
    	background: #567ecb;
        padding-bottom: 20px;
	    a {
		    text-decoration: none;
		    color: #ffffff;
		    min-width: 167px;
		    text-align: left;
		    font-size: 1.4rem;
		    height: 55px;
		    display: flex;
		    justify-content: left;
		    padding-left: 15px;
            padding-right: 15px;
		}
		a.active {
		    background: no-repeat;
		    color: #ffffff;
		}
	}
	li {
	    background: url(../image/sp/icon-nextfff.png) no-repeat right 15px center;
		background-size: 15px;
	    border-bottom: 1px solid #ccc;
	}

}
.c-navibar{
	display: none;
}
.is-open{
	display: block;
}
.txt-title.sp-only {
    text-align: left;
    font-size: 1.4rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.btn-nav {
    margin-top: 30px;
    a {
    display: inline-block;
    height: auto !important;
    margin-bottom: 15px;
   justify-content: center !important;
}

}

/*=================================================
					Main index.html
==================================================*/
/*=====================baner=====================*/
.l-banner {
.bg-banner {
    height: auto;
    background: none;
    img {
    width: 100%;
}
}
.pic {
    padding-top: 0;
    padding: 0px 15px;
    margin-top: -80px;
}
}
.c-notify {
    background: no-repeat;
    padding: 20px 0px;
    font-size: 1.4rem;
    margin-top: 0;
}
/*=====================l main index=====================*/
.l-main .container {
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: border-box;
        text-align: center;
}
.c-item {
    margin-top: 30px;
    text-align: center;
    a {
    margin-bottom: 15px;
    display: inline-block;
}
}
/*================category=========================*/
.l-category {
    position: relative;
    margin-bottom: 45px;
}
/*===================advantage=======================*/
.l-advantage {
    min-height: auto;
    background: none;
    text-align: right;
}
.c-content--advan {
    background: #ffffff;
    padding: 30px 20px;
    display: inline-block;
    text-align: center;
    margin-top: -80px;
    h3 img{
    	margin: 0 auto;
    }
    p img{
    	margin: 0 auto;
    }
}
.c-question {
    font-size: 1.4rem;

}
/*==================equipment=================*/
.l-equipment {
	    padding: 45px 0px;
	h3 img {
	    margin: 0 auto;
	}
	p {
    line-height: 21px;
    text-align: left;
}
}
.c-card__item {
    margin-bottom: 15px;
}
.c-card {
    display: inherit;
    justify-content: space-between;
    margin-bottom: 27px;
}
.card__txt {
    font-size: 1.4rem;
    padding: 15px;
    background: #ffffff;
}
.card__img {
    background: #ccc;
    height: 150px;
}
/*=================================================
					Main company.html
==================================================*/
.company .l-section {
    padding: 0px 15px;
    margin-bottom: 30px;
}

.l-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
     a {
    margin-left: 19px;
    margin-bottom: 19px;
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(2n+1) {
    margin-left: 0;
}
}
img {
    max-width: 137px;
    width: 100%;
}
}
.u-red {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 25px;
}
.icon-cricle{
	 background: url(../image/sp-company/cricle.png) no-repeat left  center;
	 background-size: 15px;
	 padding-left: 20px;
     font-weight: 500;
    font-size: 1.6rem;
}
.line img {
    width: 100%;
    margin-bottom: 30px;
}
.card-link img{
	width: 100%;
	margin-bottom: 30px;
}
.c-medal a {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.4rem;
    min-height: 40px;
    justify-content: center;
    }
    .c-post__txt {
    text-align: left;
    margin-right: 0px;
    li span {
    color: #000000;
    font-size: 1.4rem;
}
}

/*=================================================
					Main Business.html
==================================================*/
.l-section.business1 h3 img {
    margin: 0 auto;
}
.c-post {
    display: inherit;
    line-height: 21px;
    flex-direction: row-reverse;
}
.c-post__img img {
    width: 100%;
}
.c-medal {
    margin-top: 15px;
    display: inherit;
    justify-content: space-between;
    a img {
    margin-right: 5px;
    width: 17px;
}
}
.title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.business-post {
    margin-bottom: 45px;
    text-align: left;
    h4{

    font-size: 1.6rem;

    }
}
.c-navi1 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
}
.container.tab-padding {
    padding: 0px 15px;
    box-sizing: border-box;
}
.l-main.page-child {
    margin-top: 45px;
}
.business1 {
    margin-top: 0px;
    text-align: center;
}
.question {
    color: #4471c6;
    margin-bottom: 5px;
    margin-top: 13px;
}
.l-section {
    margin-bottom: 45px;
}
/*=================================================
					Main Equipment.html
==================================================*/
.container-post {
    display: inline-block;
    justify-content: space-between;
}
.equipment h4{
	    font-weight: bold;
	font-size: 1.4rem;
}
.equipment-post {
    margin-bottom: 45px;
}
.c-post__txt li {
    list-style-type: disc;
    margin-left: 25px;
    font-size: 1.8rem;
    color: #4471c6;
    margin-bottom: 7px;
}
.l-section.equipment {
    margin-bottom: 45px;
}
.equipment {
    margin-top: 0px;
}
.c-navi1 a {
    text-decoration: none;
    color: #4471c6;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 52px;
        padding: 0px 10px;
}
.c-post__img {
    margin-top: 15px;
}
.uses {
    margin-top: 15px;
    margin-bottom: 15px;
}
.equipment-post .c-post__img {
    margin-top: 15px;
    margin-bottom: 5px;
}
.equipment-post .c-post {
    display: flex;
    margin-top: 0px;
    line-height: 21px;
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
}
/*=================================================
					Main ADVANTAGE.html
==================================================*/
.advantege {
    margin-bottom: 45px;
    .c-post {
    display: inherit;
    margin-top: 31px;
    line-height: 21px;
    margin-bottom: 45px;
}
.c-post__txt {
    text-align: left;
    margin-right: 0px;
    margin-bottom: 10px;
}
}
/*=================================================
					Main RECRUIT.html
==================================================*/
.l-section.recruit {
    margin-bottom: 45px;
}
.recruit p {
    text-align: center;
    line-height: 21px;
    margin-bottom: 45px;
}
.c-table1--spBlock th, .c-table1--spBlock td {
    display: block;
    box-sizing: border-box;
}
.c-profile__table1 tbody th {
        font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    background: #e9eff2;
        width: 100%;
}
.c-profile__table1 tbody td {
    text-align: left;
    font-size: 1.4rem;
}
.margin-r {
    margin-right: 0px;
}
.recruit .c-content {
    margin-bottom: 25px;
}
/*=================================================
                    Main CONTACT.html
==================================================*/
.form_contact table {
    th {
        padding: 15px;
        width: 100%;
        color: #0361a7;
        font-weight: normal;
        justify-content: space-between;
        align-items: center;
        background: #e9eff2;
    }
     th,  td {
        height: auto;
}
 td input[type="text"] {
    width: 100%;
        border: 1px solid #dddddd;

}
textarea#fContent04 {
    width: 100%;
    border: 1px solid #ccc;
}
}
.conta .u-red{
    color: red;
    font-size: 1.4rem;
    margin-bottom: 0px;
    }    
/*======================footer====================*/
.foot-intro {
    padding-top: 40px;
    margin-bottom: 45px;
    h2 img {
    margin: 0 auto;
}
.bold {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 7px;
}
.hotline a{
	margin-bottom: 10px;
	display: inherit;
}
}
.foot-bottom {
    background: none;
    padding: 0px;
}
.foot-category {
	    border-top: 2px solid #4471c6;
	 ul {
	    display: flex;
	    justify-content: center;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	li {
		padding: 0px;
		background: url(../image/sp/icon-next.png) no-repeat right 15px center;
	    background-size: 15px;
	    width: 50%;
	    border-bottom: 1px solid #ccc;
	    border-right: 1px solid #ccc;
    	box-sizing: border-box;
	}
	li.sp-only {
    background: none;
}
a {
    text-decoration: none;
    color: #000000;
    padding: 20px 0px;
    display: inherit;
}
}
.copyright {
    font-size: 1rem;
    color: #ffffff;
    background: #4471c6;
    margin-top: 0;
    padding: 10px 0px;
}
/*================*/
}
@media screen and (max-width: 320px){
a.btn-more img{
    width: 100%
}
.progress img {
    width: 100%;
}
}
    