/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.l-foot {
    text-align: center;
}
.foot-intro {
    padding-top: 63px;
    margin-bottom: 52px;
     p {
    padding: 13px 0px;
    line-height: 21px
}
h2 img {
    margin: 0 auto;
}
}
.bold {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 7px;
}
.margin-r{
	    margin-right: 15px;
}
.foot-bottom {
    background: #4471c6;
    padding: 31px;
}
.foot-category {

	ul {
	    display: flex;
	    justify-content: center;
	}
	a{
		text-decoration: none;
		color: #ffffff;
	}
	li {
    	padding: 0px 19px;
    	background: url(../image/line.png) no-repeat right;
}
}
.copyright {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 20px;
}
