/*------------------------------------------------------------
   l banner
------------------------------------------------------------*/
.l-banner {
    
    .pic {
    padding-top: 150px;
   
}
.bg-banner{
	height: 600px;
    background: url(../image/index/bg-img.JPG) no-repeat center center;
    background-size: cover;
}
}
.l-main.page-child {
    margin-top: 66px;
    display: inherit;
}

/*------------------------------------------------------------
   =======================Main index=====================
------------------------------------------------------------*/
/*========section category========*/
.l-category {
    position: relative;
    margin-bottom: 60px;
}
.c-notify {
    background: #e9eff2;
    padding: 16px;
    margin-top: -30px;
}
.c-item {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}
/*============section advantage========*/
.l-main.advantage {
    margin-top: 51px;
        margin-bottom: 65px;
}
.l-advantage {
	min-height: 561px;
    background: url(../image/index/equip-bg.jpg) no-repeat center center;
    background-size: cover;
    text-align: right;
}
.c-content--advan {
    background: #ffffff;
    padding: 47px 36px;
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    h3{
    margin-bottom: 28px;
    img {
    margin: 0 auto;
}
    }
    p{
    	line-height: 21px;
    }

}
.u-note {
    font-size: 1.4rem;
    color: #4471c6;
    padding-bottom: 14px;
    border-bottom: 1px solid;
    display: inline-block;
    margin-bottom: 29px;
}
.c-question {
    margin-top: 20px;
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: #4471c6;
    margin-bottom: 10px;
}
.btn-more {
    margin-top: 26px;
    display: inline-block;
    margin-left: -7px;
}

/*============section equipment=============*/
.l-equipment {
	background: #e9eff2;
    text-align: center;
    padding: 57px 0px;
	h3 {
    margin-bottom: 28px;
}
p{
	line-height: 21px;
}
}
.c-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.card__txt {
    font-size: 1.6rem;
    padding: 20px;
    background: #ffffff;
}

/*------------------------------------------------------------
 ===========================COMPANY========================
------------------------------------------------------------*/
.l-banner.page-child {
    position: relative;
    max-height: 241px;
    overflow: hidden;
    margin-bottom: 29px;
		img {
		    width: 100%;
		}
}
.title-page {
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.c-breadcrumb1 {
	ul {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    font-size: 1.2rem;
	}
	a{
		text-decoration: none;
	}
}
/*========Main company1==========*/
.conpany1 {
    text-align: center;
    p{
    	margin: 19px;
    	line-height: 21px;
    }
}
.l-section__item {
    display: flex;
    justify-content: space-between;
}
/*section 2*/
.l-section{
	margin-bottom: 117px;
	h3 {
	    text-align: center;
	    margin-bottom: 25px;
	}
}

    h3.list2{
        margin-bottom: 75px;
    }

.map{
	p{
	text-align: center;
    margin-top: 35px;
	}
}
/*============ table =========*/
.c-profile__table1 {
    z-index: 1;
    width: 100%;
    background: #ffffff;
    padding-top: 10px;
    table {
	    border-top: 1px solid #dddddd;
	    border-left: 1px solid #dddddd;
	    width: 100%;
	    border-collapse: collapse;
	}
	 th, td {
	    border-right: 1px solid #dddddd;
	    border-bottom: 1px solid #dddddd;
	    height: 52px;
	    padding-left: 17px;
	}
	tbody th {
	    font-size: 1.6rem;
	    text-align: left;
	    font-weight: 400;
	    width: 230px;
	}
	tbody td {
	    text-align: left;
	    font-size: 1.6rem;
	    padding-left: 28px;
	    padding-right: 28px;
	}
}
/*====section 5 business====*/
.l-section.business {
    margin-bottom: 60px;
}
.c-business {
    display: flex;
    justify-content: space-between;
}
.c-business__card{
	h4{
		font-size: 18px;
		font-weight: 300;
	}
}
.c-business__item {
    background: #e9eff2;
    margin-top: 10px;
    padding: 20px;
    width: 315px;
    height: 450px;
    box-sizing: border-box;
    p{
    	line-height: 21px;
    }
}
.btn-business {
    text-align: center;
    margin-top: 62px;
}

/*------------------------------------------------------------
 ===========================Business========================
------------------------------------------------------------*/
/*=======tab=============*/

.c-navi1 {
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 52px;
    ul {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    
	}
	li {
	    width: 180px;
	    background: url(../image/business/line2.png) no-repeat right;
	}
   li:nth-child(3) {
        width: 180px;
        background: none;
    }

	a {
	    text-decoration: none;
	    color: #4471c6;
	    line-height: 1;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    height: 52px;
	    &:after {
		    content: "";
		    width: 5px;
		    height: 5px;
		    border-right: 2px solid #4471c6;
		    border-bottom: 2px solid #4471c6;
		    margin-left: 7px;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    margin-top: -4px;
		}
	}
}
.business li:nth-child(2) {
        width: 180px;
        background: none;
    }
/*=============section post1=================*/
.l-section.business1 {
    margin-bottom: 47px;
}

.c-post {
    display: flex;
    line-height: 21px;
    
}
.equipment h4{
        font-weight: 500;
        font-size: 1.8rem;
    }
.business1 .c-post {
    flex-direction: row-reverse;
}
.c-post__txt {
    text-align: left;
    margin-right: 50px;
    li {
    list-style-type: disc;
    margin-left: 18px;
    font-size: 1.8rem;
    color: #4471c6;
    span{
    	color:#000000;
    	    font-size: 1.4rem;
    }
}
}
.title {
    font-size: 1.8rem;
    font-weight: 500;
        margin-bottom: 48px;
}
.uses {
    margin-top: 21px;
    color: #4471c6;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    margin-bottom: 16px;
}
.question {
    color: #4471c6;
    margin-bottom: 7px;
}
.c-post__img {
    margin-top: 30px;
}
.c-medal {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.business-post {
    margin-bottom: 117px;
    text-align: left;
    h4{
        font-size: 1.8rem;
    }
    
}
.c-medal a {
    width: 228px;
    border: 1px solid #4471c6;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 21px;
        min-height: 80px;
        img{
        margin-right:5px;
        }
}
/*------------------------------------------------------------
 ===========================Equipment========================
------------------------------------------------------------*/
.l-section.equipment {
    margin-bottom: 82px;
}
.equipment-post{
	margin-bottom: 123px;
.c-post {
    display: flex;
    margin-top: 0px;
    line-height: 21px;
    max-width: 490px;
    width: 100%;
}
.c-post__img {
    margin-top: 25px;
    margin-bottom: 10px;
}
}
.container-post {
    display: flex;
    justify-content: space-between;
}
/*------------------------------------------------------------
 ===========================advantege========================
------------------------------------------------------------*/

.advantege {
	    margin-bottom: 103px;
	    .c-post {
		    display: flex;
		    margin-top: 31px;
		    line-height: 21px;
		    margin-bottom: 120px;
		    h4 {
			    margin-bottom: 10px;
			}
		}
		.c-post__img {
    margin-top: 0px;
}
}
/*------------------------------------------------------------
 ===========================recruit========================
------------------------------------------------------------*/
.recruit {
	text-align: center;
	 p {
    text-align: center;
    line-height: 21px;
   
}
.c-content{
     margin-bottom: 114px;
}
.c-profile__table1 th, .c-profile__table1 td {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: auto;
    padding: 18.7px;
    padding-left: 17px;
}
.btn-more {
    margin-top: 36px;
    display: inline-block;
    margin-left: -7px;
}
}
.info .foot-intro {
    text-align: center;
    padding-top: 0px;
}
.l-main.recruit {
    margin-top: 48px;
}
/*------------------------------------------------------------
 ===========================contact========================
------------------------------------------------------------*/
.contact {
	text-align: center;
	    margin-bottom: 92px;
	 p {
    text-align: center;
    line-height: 21px;
    margin-bottom: 0px;
}

}
.progress {
    text-align: center;
}
.form_contact{
	table {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    th {
    padding: 22px 0 0 0;
    width: 21%;
    color: #0361a7;
    font-weight: normal;
}
 th,  td {
 	border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 52px;
    padding: 20px;
    padding-left: 17px;
    font-size: 1.4em;
    text-align: left;
    vertical-align: top;
}
td input[type="text"] {
    padding-left: 20px;
    font-size: 1em;
    width: 422px;
    margin-top: 6px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
}
td .min-width{
	 
    width: 152px !important;
    height: 29px;

}
th {
    padding: 38px 20px 0px 19px;
    width: 25%;
    color: #0361a7;
    font-weight: normal;
}
th span {
    float: right;
    
}
td span {
    display: inherit;
}
tr,td,th{
	    font-size: 1.4rem !important;
}
.note {
    padding-top: 10px;
}
textarea#fContent04 {
    width: 422px;
}

}
fieldset {
    text-align: center;
}
.u-red {
    color: red;
}
.report {
    background: #f5dddf !important;
}
}
.none-margin{
    margin: 0px !important;
}