/*------------------------------------------------------------
=========================News page===========================
------------------------------------------------------------*/
$pc:1084px;
$full:1520px;
/* banner */
.c-barner.page-child {
    width:100%;
    margin: 0px auto;
    margin-bottom: 116px;
    height: auto;
    overflow: hidden;
    position: relative;
    img{
    width:100%;
    }
}
.title-page {
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 40px;
        color: #ffffff;
        font-weight: 400;
        text-shadow: 1px 1px #01529491;
    }
    p{
        font-size: 18px;
        color: #32a9f4;
    }
}
/*------------------------------------------------------------
    Main News page
------------------------------------------------------------*/
.p-child__container{
    width: 1084px;
    margin: 0px auto;
}
.news-post {
    margin-bottom: 117px;
}
.news-post__title h3 {
    font-size: 20px;
    color: #025995;
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom: 1px solid;
}
.news-post__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.news-post__date {
    padding-left: 5px;
    margin-bottom: 26px;
    color: #009fbb;
    font-size: 14px;
    font-weight: bold;
}
.content-img {
    margin-left: 65px;
}

.icon-date {
    margin-right: 10px;
}
.p-lightbox img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s ease-in-out;
}