@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

html {
  font-size: 62.5%; }

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

body {
  font-size: 1.4rem;
  min-width: 1200px;
  line-height: 1.6; }

.container {
  width: 1000px;
  margin: 0 auto; }

.hver-opacity:hover img {
  opacity: 0.7; }

.sp-only {
  display: none !important; }

.pc-only {
  display: block; }

/*------------------------------------------------------------
    Header 
------------------------------------------------------------*/
header {
  margin-top: 25px; }

/*top header*/
.l-tophea {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contact-hea {
  align-items: center;
  display: flex; }
  .contact-hea .hotline {
    margin-right: 20px; }

/*menu nav*/
.l-navhea {
  margin-top: 25px; }
  .l-navhea ul {
    display: flex;
    justify-content: space-between; }
    .l-navhea ul a {
      text-decoration: none;
      color: #000000;
      min-width: 167px;
      text-align: center;
      font-size: 1.6rem;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .l-navhea ul a:hover {
        background: #4471c6;
        color: #ffffff; }
      .l-navhea ul a.active {
        background: #4471c6;
        color: #ffffff; }
  .l-navhea li {
    background: url(../image/line.png) no-repeat right; }

/*==========================menu nav mobile==============================*/
/*------------------------------------------------------------
   l banner
------------------------------------------------------------*/
.l-banner .pic {
  padding-top: 150px; }
.l-banner .bg-banner {
  height: 600px;
  background: url(../image/index/bg-img.JPG) no-repeat center center;
  background-size: cover; }

.l-main.page-child {
  margin-top: 66px;
  display: inherit; }

/*------------------------------------------------------------
   =======================Main index=====================
------------------------------------------------------------*/
/*========section category========*/
.l-category {
  position: relative;
  margin-bottom: 60px; }

.c-notify {
  background: #e9eff2;
  padding: 16px;
  margin-top: -30px; }

.c-item {
  display: flex;
  justify-content: space-between;
  margin-top: 58px; }

/*============section advantage========*/
.l-main.advantage {
  margin-top: 51px;
  margin-bottom: 65px; }

.l-advantage {
  min-height: 561px;
  background: url(../image/index/equip-bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: right; }

.c-content--advan {
  background: #ffffff;
  padding: 47px 36px;
  display: inline-block;
  text-align: center;
  margin-top: 60px; }
  .c-content--advan h3 {
    margin-bottom: 28px; }
    .c-content--advan h3 img {
      margin: 0 auto; }
  .c-content--advan p {
    line-height: 21px; }

.u-note {
  font-size: 1.4rem;
  color: #4471c6;
  padding-bottom: 14px;
  border-bottom: 1px solid;
  display: inline-block;
  margin-bottom: 29px; }

.c-question {
  margin-top: 20px;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  color: #4471c6;
  margin-bottom: 10px; }

.btn-more {
  margin-top: 26px;
  display: inline-block;
  margin-left: -7px; }

/*============section equipment=============*/
.l-equipment {
  background: #e9eff2;
  text-align: center;
  padding: 57px 0px; }
  .l-equipment h3 {
    margin-bottom: 28px; }
  .l-equipment p {
    line-height: 21px; }

.c-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px; }

.card__txt {
  font-size: 1.6rem;
  padding: 20px;
  background: #ffffff; }

/*------------------------------------------------------------
 ===========================COMPANY========================
------------------------------------------------------------*/
.l-banner.page-child {
  position: relative;
  max-height: 241px;
  overflow: hidden;
  margin-bottom: 29px; }
  .l-banner.page-child img {
    width: 100%; }

.title-page {
  position: absolute;
  margin: 0px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.c-breadcrumb1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem; }
.c-breadcrumb1 a {
  text-decoration: none; }

/*========Main company1==========*/
.conpany1 {
  text-align: center; }
  .conpany1 p {
    margin: 19px;
    line-height: 21px; }

.l-section__item {
  display: flex;
  justify-content: space-between; }

/*section 2*/
.l-section {
  margin-bottom: 117px; }
  .l-section h3 {
    text-align: center;
    margin-bottom: 25px; }

h3.list2 {
  margin-bottom: 75px; }

.map p {
  text-align: center;
  margin-top: 35px; }

/*============ table =========*/
.c-profile__table1 {
  z-index: 1;
  width: 100%;
  background: #ffffff;
  padding-top: 10px; }
  .c-profile__table1 table {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    width: 100%;
    border-collapse: collapse; }
  .c-profile__table1 th, .c-profile__table1 td {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 52px;
    padding-left: 17px; }
  .c-profile__table1 tbody th {
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
    width: 230px; }
  .c-profile__table1 tbody td {
    text-align: left;
    font-size: 1.6rem;
    padding-left: 28px;
    padding-right: 28px; }

/*====section 5 business====*/
.l-section.business {
  margin-bottom: 60px; }

.c-business {
  display: flex;
  justify-content: space-between; }

.c-business__card h4 {
  font-size: 18px;
  font-weight: 300; }

.c-business__item {
  background: #e9eff2;
  margin-top: 10px;
  padding: 20px;
  width: 315px;
  height: 450px;
  box-sizing: border-box; }
  .c-business__item p {
    line-height: 21px; }

.btn-business {
  text-align: center;
  margin-top: 62px; }

/*------------------------------------------------------------
 ===========================Business========================
------------------------------------------------------------*/
/*=======tab=============*/
.c-navi1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 52px; }
  .c-navi1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .c-navi1 li {
    width: 180px;
    background: url(../image/business/line2.png) no-repeat right; }
  .c-navi1 li:nth-child(3) {
    width: 180px;
    background: none; }
  .c-navi1 a {
    text-decoration: none;
    color: #4471c6;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 52px; }
    .c-navi1 a:after {
      content: "";
      width: 5px;
      height: 5px;
      border-right: 2px solid #4471c6;
      border-bottom: 2px solid #4471c6;
      margin-left: 7px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -4px; }

.business li:nth-child(2) {
  width: 180px;
  background: none; }

/*=============section post1=================*/
.l-section.business1 {
  margin-bottom: 47px; }

.c-post {
  display: flex;
  line-height: 21px; }

.equipment h4 {
  font-weight: 500;
  font-size: 1.8rem; }

.business1 .c-post {
  flex-direction: row-reverse; }

.c-post__txt {
  text-align: left;
  margin-right: 50px; }
  .c-post__txt li {
    list-style-type: disc;
    margin-left: 18px;
    font-size: 1.8rem;
    color: #4471c6; }
    .c-post__txt li span {
      color: #000000;
      font-size: 1.4rem; }

.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 48px; }

.uses {
  margin-top: 21px;
  color: #4471c6;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  margin-bottom: 16px; }

.question {
  color: #4471c6;
  margin-bottom: 7px; }

.c-post__img {
  margin-top: 30px; }

.c-medal {
  margin-top: 28px;
  display: flex;
  justify-content: space-between; }

.business-post {
  margin-bottom: 117px;
  text-align: left; }
  .business-post h4 {
    font-size: 1.8rem; }

.c-medal a {
  width: 228px;
  border: 1px solid #4471c6;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21px;
  min-height: 80px; }
  .c-medal a img {
    margin-right: 5px; }

/*------------------------------------------------------------
 ===========================Equipment========================
------------------------------------------------------------*/
.l-section.equipment {
  margin-bottom: 82px; }

.equipment-post {
  margin-bottom: 123px; }
  .equipment-post .c-post {
    display: flex;
    margin-top: 0px;
    line-height: 21px;
    max-width: 490px;
    width: 100%; }
  .equipment-post .c-post__img {
    margin-top: 25px;
    margin-bottom: 10px; }

.container-post {
  display: flex;
  justify-content: space-between; }

/*------------------------------------------------------------
 ===========================advantege========================
------------------------------------------------------------*/
.advantege {
  margin-bottom: 103px; }
  .advantege .c-post {
    display: flex;
    margin-top: 31px;
    line-height: 21px;
    margin-bottom: 120px; }
    .advantege .c-post h4 {
      margin-bottom: 10px; }
  .advantege .c-post__img {
    margin-top: 0px; }

/*------------------------------------------------------------
 ===========================recruit========================
------------------------------------------------------------*/
.recruit {
  text-align: center; }
  .recruit p {
    text-align: center;
    line-height: 21px; }
  .recruit .c-content {
    margin-bottom: 114px; }
  .recruit .c-profile__table1 th, .recruit .c-profile__table1 td {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: auto;
    padding: 18.7px;
    padding-left: 17px; }
  .recruit .btn-more {
    margin-top: 36px;
    display: inline-block;
    margin-left: -7px; }

.info .foot-intro {
  text-align: center;
  padding-top: 0px; }

.l-main.recruit {
  margin-top: 48px; }

/*------------------------------------------------------------
 ===========================contact========================
------------------------------------------------------------*/
.contact {
  text-align: center;
  margin-bottom: 92px; }
  .contact p {
    text-align: center;
    line-height: 21px;
    margin-bottom: 0px; }

.progress {
  text-align: center; }

.form_contact table {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px; }
  .form_contact table th {
    padding: 22px 0 0 0;
    width: 21%;
    color: #0361a7;
    font-weight: normal; }
  .form_contact table th, .form_contact table td {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 52px;
    padding: 20px;
    padding-left: 17px;
    font-size: 1.4em;
    text-align: left;
    vertical-align: top; }
  .form_contact table td input[type="text"] {
    padding-left: 20px;
    font-size: 1em;
    width: 422px;
    margin-top: 6px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box; }
  .form_contact table td .min-width {
    width: 152px !important;
    height: 29px; }
  .form_contact table th {
    padding: 38px 20px 0px 19px;
    width: 25%;
    color: #0361a7;
    font-weight: normal; }
  .form_contact table th span {
    float: right; }
  .form_contact table td span {
    display: inherit; }
  .form_contact table tr, .form_contact table td, .form_contact table th {
    font-size: 1.4rem !important; }
  .form_contact table .note {
    padding-top: 10px; }
  .form_contact table textarea#fContent04 {
    width: 422px; }
.form_contact fieldset {
  text-align: center; }
.form_contact .u-red {
  color: red; }
.form_contact .report {
  background: #f5dddf !important; }

.none-margin {
  margin: 0px !important; }

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.l-foot {
  text-align: center; }

.foot-intro {
  padding-top: 63px;
  margin-bottom: 52px; }
  .foot-intro p {
    padding: 13px 0px;
    line-height: 21px; }
  .foot-intro h2 img {
    margin: 0 auto; }

.bold {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 7px; }

.margin-r {
  margin-right: 15px; }

.foot-bottom {
  background: #4471c6;
  padding: 31px; }

.foot-category ul {
  display: flex;
  justify-content: center; }
.foot-category a {
  text-decoration: none;
  color: #ffffff; }
.foot-category li {
  padding: 0px 19px;
  background: url(../image/line.png) no-repeat right; }

.copyright {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 20px; }

/*==========================menu nav mobile==============================*/
@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
    width: 100%;
    min-width: auto; }

  .sp-only {
    display: block !important; }

  .pc-only {
    display: none !important; }

  .container {
    width: 100%;
    margin: 0 auto; }

  /*=================header========================*/
  header {
    margin-top: 0;
    padding: 10px 16px;
    width: 100%;
    box-sizing: border-box;
    position: relative; }

  /*===============menu top ===========================*/
  #nav-toggle span {
    background-image: url(../image/sp/menu-bar.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left; }

  #nav-toggle.is-open span {
    background-image: url(../image/sp/close-menu.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left; }

  .l-navhea {
    position: absolute;
    width: 100%;
    left: 0;
    background: #4471c6de;
    margin-top: 10px;
    z-index: 1; }
    .l-navhea ul {
      display: inherit;
      width: 100%;
      left: 0;
      background: #567ecb;
      padding-bottom: 20px; }
      .l-navhea ul a {
        text-decoration: none;
        color: #ffffff;
        min-width: 167px;
        text-align: left;
        font-size: 1.4rem;
        height: 55px;
        display: flex;
        justify-content: left;
        padding-left: 15px;
        padding-right: 15px; }
      .l-navhea ul a.active {
        background: no-repeat;
        color: #ffffff; }
    .l-navhea li {
      background: url(../image/sp/icon-nextfff.png) no-repeat right 15px center;
      background-size: 15px;
      border-bottom: 1px solid #ccc; }

  .c-navibar {
    display: none; }

  .is-open {
    display: block; }

  .txt-title.sp-only {
    text-align: left;
    font-size: 1.4rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px; }

  .btn-nav {
    margin-top: 30px; }
    .btn-nav a {
      display: inline-block;
      height: auto !important;
      margin-bottom: 15px;
      justify-content: center !important; }

  /*=================================================
  					Main index.html
  ==================================================*/
  /*=====================baner=====================*/
  .l-banner .bg-banner {
    height: auto;
    background: none; }
    .l-banner .bg-banner img {
      width: 100%; }
  .l-banner .pic {
    padding-top: 0;
    padding: 0px 15px;
    margin-top: -80px; }

  .c-notify {
    background: no-repeat;
    padding: 20px 0px;
    font-size: 1.4rem;
    margin-top: 0; }

  /*=====================l main index=====================*/
  .l-main .container {
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center; }

  .c-item {
    margin-top: 30px;
    text-align: center; }
    .c-item a {
      margin-bottom: 15px;
      display: inline-block; }

  /*================category=========================*/
  .l-category {
    position: relative;
    margin-bottom: 45px; }

  /*===================advantage=======================*/
  .l-advantage {
    min-height: auto;
    background: none;
    text-align: right; }

  .c-content--advan {
    background: #ffffff;
    padding: 30px 20px;
    display: inline-block;
    text-align: center;
    margin-top: -80px; }
    .c-content--advan h3 img {
      margin: 0 auto; }
    .c-content--advan p img {
      margin: 0 auto; }

  .c-question {
    font-size: 1.4rem; }

  /*==================equipment=================*/
  .l-equipment {
    padding: 45px 0px; }
    .l-equipment h3 img {
      margin: 0 auto; }
    .l-equipment p {
      line-height: 21px;
      text-align: left; }

  .c-card__item {
    margin-bottom: 15px; }

  .c-card {
    display: inherit;
    justify-content: space-between;
    margin-bottom: 27px; }

  .card__txt {
    font-size: 1.4rem;
    padding: 15px;
    background: #ffffff; }

  .card__img {
    background: #ccc;
    height: 150px; }

  /*=================================================
  					Main company.html
  ==================================================*/
  .company .l-section {
    padding: 0px 15px;
    margin-bottom: 30px; }

  .l-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center; }
    .l-section__item a {
      margin-left: 19px;
      margin-bottom: 19px;
      width: 46%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .l-section__item a:nth-child(2n+1) {
        margin-left: 0; }
    .l-section__item img {
      max-width: 137px;
      width: 100%; }

  .u-red {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 25px; }

  .icon-cricle {
    background: url(../image/sp-company/cricle.png) no-repeat left center;
    background-size: 15px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.6rem; }

  .line img {
    width: 100%;
    margin-bottom: 30px; }

  .card-link img {
    width: 100%;
    margin-bottom: 30px; }

  .c-medal a {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.4rem;
    min-height: 40px;
    justify-content: center; }

  .c-post__txt {
    text-align: left;
    margin-right: 0px; }
    .c-post__txt li span {
      color: #000000;
      font-size: 1.4rem; }

  /*=================================================
  					Main Business.html
  ==================================================*/
  .l-section.business1 h3 img {
    margin: 0 auto; }

  .c-post {
    display: inherit;
    line-height: 21px;
    flex-direction: row-reverse; }

  .c-post__img img {
    width: 100%; }

  .c-medal {
    margin-top: 15px;
    display: inherit;
    justify-content: space-between; }
    .c-medal a img {
      margin-right: 5px;
      width: 17px; }

  .title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 30px; }

  .business-post {
    margin-bottom: 45px;
    text-align: left; }
    .business-post h4 {
      font-size: 1.6rem; }

  .c-navi1 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 0px; }

  .container.tab-padding {
    padding: 0px 15px;
    box-sizing: border-box; }

  .l-main.page-child {
    margin-top: 45px; }

  .business1 {
    margin-top: 0px;
    text-align: center; }

  .question {
    color: #4471c6;
    margin-bottom: 5px;
    margin-top: 13px; }

  .l-section {
    margin-bottom: 45px; }

  /*=================================================
  					Main Equipment.html
  ==================================================*/
  .container-post {
    display: inline-block;
    justify-content: space-between; }

  .equipment h4 {
    font-weight: bold;
    font-size: 1.4rem; }

  .equipment-post {
    margin-bottom: 45px; }

  .c-post__txt li {
    list-style-type: disc;
    margin-left: 25px;
    font-size: 1.8rem;
    color: #4471c6;
    margin-bottom: 7px; }

  .l-section.equipment {
    margin-bottom: 45px; }

  .equipment {
    margin-top: 0px; }

  .c-navi1 a {
    text-decoration: none;
    color: #4471c6;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 52px;
    padding: 0px 10px; }

  .c-post__img {
    margin-top: 15px; }

  .uses {
    margin-top: 15px;
    margin-bottom: 15px; }

  .equipment-post .c-post__img {
    margin-top: 15px;
    margin-bottom: 5px; }

  .equipment-post .c-post {
    display: flex;
    margin-top: 0px;
    line-height: 21px;
    max-width: 490px;
    width: 100%;
    margin: 0 auto; }

  /*=================================================
  					Main ADVANTAGE.html
  ==================================================*/
  .advantege {
    margin-bottom: 45px; }
    .advantege .c-post {
      display: inherit;
      margin-top: 31px;
      line-height: 21px;
      margin-bottom: 45px; }
    .advantege .c-post__txt {
      text-align: left;
      margin-right: 0px;
      margin-bottom: 10px; }

  /*=================================================
  					Main RECRUIT.html
  ==================================================*/
  .l-section.recruit {
    margin-bottom: 45px; }

  .recruit p {
    text-align: center;
    line-height: 21px;
    margin-bottom: 45px; }

  .c-table1--spBlock th, .c-table1--spBlock td {
    display: block;
    box-sizing: border-box; }

  .c-profile__table1 tbody th {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    background: #e9eff2;
    width: 100%; }

  .c-profile__table1 tbody td {
    text-align: left;
    font-size: 1.4rem; }

  .margin-r {
    margin-right: 0px; }

  .recruit .c-content {
    margin-bottom: 25px; }

  /*=================================================
                      Main CONTACT.html
  ==================================================*/
  .form_contact table th {
    padding: 15px;
    width: 100%;
    color: #0361a7;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    background: #e9eff2; }
  .form_contact table th, .form_contact table td {
    height: auto; }
  .form_contact table td input[type="text"] {
    width: 100%;
    border: 1px solid #dddddd; }
  .form_contact table textarea#fContent04 {
    width: 100%;
    border: 1px solid #ccc; }

  .conta .u-red {
    color: red;
    font-size: 1.4rem;
    margin-bottom: 0px; }

  /*======================footer====================*/
  .foot-intro {
    padding-top: 40px;
    margin-bottom: 45px; }
    .foot-intro h2 img {
      margin: 0 auto; }
    .foot-intro .bold {
      font-weight: bold;
      font-size: 1.4rem;
      margin-top: 7px; }
    .foot-intro .hotline a {
      margin-bottom: 10px;
      display: inherit; }

  .foot-bottom {
    background: none;
    padding: 0px; }

  .foot-category {
    border-top: 2px solid #4471c6; }
    .foot-category ul {
      display: flex;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .foot-category li {
      padding: 0px;
      background: url(../image/sp/icon-next.png) no-repeat right 15px center;
      background-size: 15px;
      width: 50%;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      box-sizing: border-box; }
    .foot-category li.sp-only {
      background: none; }
    .foot-category a {
      text-decoration: none;
      color: #000000;
      padding: 20px 0px;
      display: inherit; }

  .copyright {
    font-size: 1rem;
    color: #ffffff;
    background: #4471c6;
    margin-top: 0;
    padding: 10px 0px; }

  /*================*/ }
@media screen and (max-width: 320px) {
  a.btn-more img {
    width: 100%; }

  .progress img {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
