@charset "UTF-8";
/*------------------------------------------------------------
    Index page
------------------------------------------------------------*/
body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 1.6; }

.header {
  width: 100%;
  margin: 0px auto; }

.header_top {
  background: #015294; }

.header__container {
  width: 1084px;
  margin: 0px auto;
  padding-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 46px; }
  .header__container ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .header__container li {
    margin-left: 8px;
    margin-top: 3px;
    margin-right: 0px; }
  .header__container h1 {
    color: #ffffff;
    font-size: 12px; }

.time {
  font-size: 12px;
  color: #ffffff;
  line-height: 14px; }

.header_menu {
  width: 1084px;
  margin: 0px auto;
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.c-navibar {
  margin-top: 6px; }
  .c-navibar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .c-navibar li {
    border-left: 1px solid #CCC;
    height: 33px; }
    .c-navibar li:last-child {
      border-right: 1px solid #CCC; }
  .c-navibar a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding-bottom: 5px;
    position: relative; }
    .c-navibar a:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 24px;
      top: 36px;
      width: 0;
      height: 4px;
      background: #009fbb;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .c-navibar a:hover:after {
      width: 100%;
      left: 0; }
  .c-navibar .active a:after {
    width: 100%;
    left: 0; }

.opacity_hover:hover {
  opacity: 0.7; }

/*------------------------------------------------------------
    Barnner
------------------------------------------------------------*/
.c-barner {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 100px;
  height: 758px;
  overflow: hidden;
  position: relative; }

.c-barner__imgtxt {
  position: absolute;
  right: 0;
  top: 83px; }
  .c-barner__imgtxt h2 {
    font-size: 44px;
    color: #ffffff;
    text-align: right;
    font-weight: 400; }

.slideShow {
  height: 756px;
  background: url(../img/banner-index.jpg) no-repeat center center;
  background-size: cover; }
  .slideShow img {
    width: 100%; }

.slideShow > .pic {
  width: 1084px;
  margin: 0 auto;
  position: relative; }

/* ∩╝Üopacity*/
.list-mv02 {
  opacity: 0;
  transition: 1s; }

.mv02 {
  opacity: 1.0; }

/* ∩╝Üopacity*/
.list-mv03 {
  opacity: 0;
  transition: 4s; }

.mv03 {
  opacity: 1.0; }

/*------------------------------------------------------------
    Main
------------------------------------------------------------*/
.p-content__container {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 127px; }

/*------------------------------------------------------------
    NEWS
------------------------------------------------------------*/
.c-news {
  width: 100%;
  background: #e7f5ff;
  margin-bottom: 111px; }

.c-news__content {
  padding: 34px 60px;
  width: 1084px;
  margin: 0px auto;
  display: flex; }

.c-imgtext1__img {
  text-align: center;
  max-width: 182px;
  padding-top: 12px; }

.u-blue {
  color: #0e5b9a !important;
  float: left; }

.c-imgtext1__text {
  padding-left: 8px;
  margin-left: 60px; }
  .c-imgtext1__text a {
    color: #000;
    margin-left: 60px;
    text-decoration: none; }
    .c-imgtext1__text a.active {
      color: #a8a8a8;
      text-decoration: underline; }
  .c-imgtext1__text li {
    padding: 12px 0px;
    font-size: 13px; }

.c-imgtext__margin {
  margin-bottom: 16px; }

/*------------------------------------------------------------
    C List News
------------------------------------------------------------*/
.c-listnews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.c-imgtext1--imgright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.c-listnews__txt {
  max-width: 470px;
  width: 100%;
  margin-left: 60px; }
  .c-listnews__txt h3 {
    font-size: 30px;
    color: #025995;
    padding-bottom: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: -1px; }
  .c-listnews__txt p {
    margin-bottom: 30px; }

.c-listnews__txt.m-right {
  margin-left: 0px;
  margin-right: 60px; }

.c-listnews__img {
  margin-left: 70px;
  margin-right: 0px;
  width: 951px;
  height: 353px;
  overflow: hidden; }
  .c-listnews__img img {
    width: 100%;
    min-height: 353px; }

.c-listnews {
  margin-bottom: 80px; }

.back-ground .c-listnews__img {
  margin-left: 0px;
  margin-right: 70px; }

.more {
  background: #0291aa url(../img/icon-arrow.png) no-repeat right 136px center;
  background-size: 9px auto;
  width: 470px;
  height: 50px;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  padding-right: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  bottom: 0px; }

.more:hover {
  background: #ffffff url(../img/icon-arrow-blue.png) no-repeat right 136px center;
  color: #0291aa;
  border: 2px solid #0291aa; }

.back-ground {
  background: #f5f5f5;
  padding: 80px 0px; }

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/
.foot-container {
  width: 100%;
  margin: 0px auto; }

.foot-main {
  background: #003c7f;
  color: white; }

.foot-main-container {
  width: 1084px;
  margin: 0px auto;
  padding: 40px 0px;
  padding-bottom: 34px;
  display: flex;
  font-size: 12px; }

.foot-main__logo p {
  margin-top: 20px; }

.foot-main__contact {
  margin-left: 18px;
  padding-left: 24px;
  border-left: 1px solid; }
  .foot-main__contact .address {
    margin-bottom: 5px; }

.fax {
  margin-top: 10px; }
  .fax a {
    color: #ffffff;
    text-decoration: none; }

.foot-main__more {
  margin-left: 62px; }

.foot-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 9px; }
  .foot-category a {
    color: #ffffff;
    text-decoration: none; }
    .foot-category a:hover {
      color: #3b75b5; }

.foot-category__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column; }

.foot-copyright {
  background: #002f64;
  color: #ffffff;
  font-size: 12px; }

.foot-copyright__container {
  width: 1084px;
  margin: 0 auto;
  padding: 13px 0px;
  color: #608fbf; }

.foot-banner img {
  width: 100%; }

/*------------------------------------------------------------
    Scrolltop
------------------------------------------------------------*/
.scrolltop {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999; }
  .scrolltop a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #0291aa;
    text-align: center; }
    .scrolltop a:hover {
      background-color: #01789d; }

/*# sourceMappingURL=style.css.map */
