body{
	font-size: 1.4rem;
	min-width: 1200px;
	line-height: 1.6;
}
.container{
	width:1000px;
	margin:0 auto;
}
.hver-opacity:hover img {
    opacity: 0.7;
}
.sp-only{
	display: none !important;
}
.pc-only{
	display: block;
}
/*------------------------------------------------------------
    Header 
------------------------------------------------------------*/
header {
    margin-top: 25px;
}
/*top header*/
.l-tophea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-hea {
    align-items: center;
    display: flex;
    .hotline{
    	margin-right: 20px;
    }
}
/*menu nav*/
.l-navhea {
	margin-top: 25px;
	ul {
	    display: flex;
	    justify-content: space-between;
	    a{
	    	text-decoration: none;
	    	color:#000000;
	    	min-width: 167px;
		    text-align: center;
		    font-size: 1.6rem;
		    height: 70px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    &:hover{
		    	background: #4471c6;
    			color: #ffffff;
		    }
		    &.active{
		    	background: #4471c6;
    			color: #ffffff;
		    }
	    }
	}
	li {
	    background: url(../image/line.png) no-repeat right;
	}
}
/*==========================menu nav mobile==============================*/
